<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!-- Serilog Rolling file configurations -->
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile"/>
    <add key="serilog:write-to:RollingFile.pathFormat" value="Logs/LogFile{Date}.txt"/>
    
    <!-- Serilog Console configurations -->
    <add key="serilog:using:Console" value="Serilog.Sinks.Console"/>
    <add key="serilog:write-to:Console" />
  </appSettings>
</configuration>