<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="EventLogFile" value="EventLogs/EventLogOut.txt"/>
    <add key="TraceFile" value="Traces/TraceOutput.txt"/>
    
    <!-- Serilog Rolling file configurations -->
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile"/>
    <add key="serilog:write-to:RollingFile.pathFormat" value="Logs/LogFile{Date}.txt"/>
    
    <!-- Serilog Console configurations -->
    <add key="serilog:using:Console" value="Serilog.Sinks.Console"/>
    <add key="serilog:write-to:Console"/>
  </appSettings>

  <system.diagnostics>
    <!-- Trace sources -->
    <sources>
      <!-- General trace source -->
      <source name="GenTraceSource" 
              switchName="GenTraceSwitch" 
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="GeneralTextFileListener" 
               type="System.Diagnostics.TextWriterTraceListener" 
               initializeData="Traces/GeneralTraceOutput.txt">
            <filter type="System.Diagnostics.EventTypeFilter" 
                    initializeData="Information"/>
          </add>
          <remove name="Default" />
        </listeners>
      </source>
    </sources>

    <!-- Trace Switches Configuration -->
    <switches>
      <!-- TraceSwitch values: 0=Off, 1=Error, 2=Warning, 3=Info, 4=Verbose -->
      <!-- BooleanSwitch values: 0=Off, 1=On -->
      <add name="AppTraceSwitch" value="3"/>
      <add name="SerializationSwitch" value="0"/>
      <add name="GenTraceSwitch" value="Information"/>
    </switches>
    
    <!-- Trace configuration -->
    <trace autoflush="false" indentsize="4">
      <!-- Configure Trace listeners -->
      <listeners>
        <add name="TextFileListener" />
        <remove name="Default" />
      </listeners>
    </trace>

    <!-- Shared listeners a source can add by name -->
    <sharedListeners>
      <add name="TextFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Traces/TraceOutput.txt"/>
    </sharedListeners>
  </system.diagnostics>

</configuration>
